@media screen and (max-width: 1200px){
    .parallax-section {
        height: 0vh;
    }

    .tagline__text {
        top: 20%;
        font-size: 30px;
    }

    .image-container {
        width: 600px;
    }

}

@media screen and (max-width: 998px){
    .parallax-section {
        height: 0vh;
    }

    .tagline {
        margin-top: 30px;
    }

    .tagline__text {
        top: 20%;
        font-size: 25px;
    }

    .image-container {
        width: 100%;
        height: 300px;
    }

    .container__intro {
        height: 20px;
    }

    .slider__img {
        margin-top:0;
        width: 100%;
        height: 300px;
        object-fit:cover;
    }

    .slider__btn-next {
    font-size: 0;
    border: 0px solid rgba(255, 255, 255, 0.849);
    }

.slider__btn-prev {
    font-size: 0;
    border: 0px solid rgba(255, 255, 255, 0.849);
}
    .header__logo {
        font-size: 25px;
    }
    .form__daten {
        margin-top: 15px;
    }
    .form__design {
        display: block;
    }
    .column {
        padding: 5px;
    }
    .form__group {
        margin-right: 0px;
     margin-bottom: 0px;
    }
}

@media screen and (max-width: 768px){

    .image__container {
        width:200px;

    }

}
@media screen and (max-width: 576px){

    .parallax-section {
        height: 0vh;
    }

    .tagline__text {
        font-size:0px;
    }

    .image__container {
        width: 200px;
    }

    #about {
        font-size: 30px;
    }

    .tagline::after {
        height: 0px
    }

    .nav {
        font-size: 15px
    }

    .header__logo {
        font-size: 15px;
    }

    .header__inner {
        margin: 0px 20px;
    }

    .form__daten {
        margin-top: 15px;
    }
    .form__design {
        display: block;
    }

    .column {
        padding: 5px;
    }
    .form__group {
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #about__content {
        font-size: 15px;
    }
    .footer__info p {
        font-size: 15px;
    }
    .footer__info h2 {
        font-size: 20px;
    }
    .footer__sites a {
        font-size: 15px;
    }

    .text__home h3 {
        font-size: 15px;
    }

    .form__main h1 {
        font-size: 30px;
    }

    .form__main p {
        font-size: 15px;
    }

    .form__daten__base {
        width: 200px;
    }

    #button__send {
        width: 200px;
        margin-top: 20px;
    }

    .logo img {
    width: 80%;
    }

    input[type="text"] {
        width: 200px;
    }
    .impressum__main h1 {
        font-size: 30px;
    }
    .impressum__main p {
        font-size: 15px;
    }
    .privacy__main h1 {
        font-size: 25px;
    }
    .privacy__main p  {
        font-size: 15px;
    }
}
